include __dont_use_cython__.txt
include CHANGELOG.md
include LICENSE
exclude .coverage
exclude .gitignore
exclude .pre-commit-config.yaml
recursive-include build_helpers *
include src/krb5/*.h
include src/krb5/*.pyx
include src/krb5/*.pxd
recursive-include stubs *
recursive-include tests *
recursive-exclude tests *.pyc